@use "sass:color";

/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */


/**
 *
 * ---------------- COLORS ----------------
 *
 */

// Primary Colors
// ----------------------------------------

$primary-color-green:          #37c180;
$green:                        $primary-color-green;

$primary-color-light-blue:     #378dd4;
$l-blue:                       $primary-color-light-blue;

$primary-color-blue:           #24425c;
$d-blue:                       $primary-color-blue;

$primary-color-grey:           #8c939b;
$grey:                         $primary-color-grey;

$primary-color-white:          #fafafa;
$off-white:                    $primary-color-white;

// Secondary Colors
// ----------------------------------------

$bright-blue:                  #4da1f7;
$ref-blue:                     #1d5888;
$ref-blue-button:              #069;
$red:                          #fa1919;
$alt-red:                      #e45253;
$orange:                       #ff8c00;
$yellow:                       #e4d12e;
$black:                        #000;
$white:                        #fff;

$l-blue-gradient:           #2b77b9;
$b-blue-gradient:           #55cef2;

// Gray Scale
// ----------------------------------------
$color-black:               #000;
$dark-prim-color:           #333;
$color-darkgray:            #444;
$color-neutral-darkgray:    #4d4d4d;
$medium-prim-color:         #666;
$color-gray:                #898989;
$light-prim-color:          #a6a6a6;
$color-silver:              #CCC;
$color-highgray:            #ededed;
$color-lightgray:           #F8F8F8;
$color-white:               #fff;

// Text
$global-text-color:            $medium-prim-color;
$global-text-color-light:      color.adjust($global-text-color, $lightness: 6%); //#757575

// Border
// ----------------------------------------

$main-border-color:            $color-silver;
$lighter-border-color:         $color-highgray;
$dark-bg-border-color:         #0e1b25;

// Element Colors
// ----------------------------------------

$body-background:               $off-white;
$table-title-color:             $d-blue;
$color-link:                    $medium-prim-color;
$color-link-hover:              $dark-prim-color;
$footer-background-color-light: color.adjust($body-background, $lightness: -3%); //#f2f2f2
$footer-background-color:       $color-highgray;
$main-menu-background:          color.adjust($d-blue, $lightness: -3%);          //#203a51
$main-menu-border-color:        $dark-bg-border-color;

// Main Table
// ----------------------------------------

$table-color-off-white-dark-1: color.adjust($off-white, $lightness: -1%); //#f7f7f7
$table-color-off-white-dark-2: color.adjust($off-white, $lightness: -4%); //#f0f0f0
$table-off-white-gradient: $color-highgray;
$color-lightgray-dark-1: color.adjust($color-lightgray, $lightness: -2%); //#f3f3f3
$color-lightgray-dark-2: color.adjust($color-lightgray, $lightness: -5%); //#ebebeb

// Button Highlights and Lowlights, Gradients
// ----------------------------------------

$primary-color-green-light-3: color.adjust($primary-color-green, $lightness: 24%);   // #92e0bb
$primary-color-green-light-2: color.adjust($primary-color-green, $lightness: 12%);   // #63d29e
$primary-color-green-light-1: color.adjust($primary-color-green, $lightness: 6%);    // #4bcc8f

$primary-color-green-dark-1: color.adjust($primary-color-green, $lightness: -9%);    // #2d9d68
$primary-color-green-dark-2: color.adjust($primary-color-green, $lightness: -15%);   // #268558
$primary-color-green-dark-3: color.adjust($primary-color-green, $lightness: -20%);   // #20724b

$primary-color-l-blue-light-1: color.adjust($l-blue, $lightness: 10%);
$l-blue-gradient-dark-1: color.adjust($l-blue-gradient, $lightness: -5%);
$l-blue-gradient-dark-2: color.adjust($l-blue-gradient, $lightness: -10%);

$bright-blue-dark-1: color.adjust($bright-blue, $lightness: -5%);
$bright-blue-dark-2: color.adjust($bright-blue, $lightness: -10%);
$b-blue-gradient-light-1: color.adjust($b-blue-gradient, $lightness: 5%);
$b-blue-gradient-light-2: color.adjust($b-blue-gradient, $lightness: 10%);

$alt-red-light-1: color.adjust($alt-red, $lightness: 5%);
$alt-red-light-2: color.adjust($alt-red, $lightness: 10%);
$alt-red-dark-1: color.adjust($alt-red, $lightness: -5%);
$alt-red-dark-2: color.adjust($alt-red, $lightness: -10%);
$alt-red-dark-3: color.adjust($alt-red, $lightness: -20%);
$alt-red-dark-4: color.adjust($alt-red, $lightness: -30%);

$main-border-color-dark-1: color.adjust($main-border-color, $lightness: -2%);
$white-dark-1: color.adjust($white, $lightness: -4%);
$color-lightgray-dark-1: color.adjust($color-lightgray, $lightness: -4%);
$color-lightgray-dark-2: color.adjust($color-lightgray, $lightness: -10%);

$white-semidark: color.adjust($white, $lightness: -2%);
$color-off-white-dark-1: color.adjust($off-white, $lightness: -3%);
$color-off-white-dark-2: color.adjust($off-white, $lightness: -5%);
$color-off-white-dark-3: color.adjust($off-white, $lightness: -6%);

$color-button-box-shadow:             rgba(0,0,0,.05);
$color-active-box-shadow:             rgba(0,0,0,.1);
$color-header-box-shadow:             rgba(0,0,0,.3);
$color-dropdown-box-shadow:           rgba(0,0,0,.1);
$color-table-cell-shadow:             rgba(0,0,0,.05);
$color-modal-box-shadow:              rgba(0,0,0,.3);
$color-modal-overlay-box-shadow:      rgba(0,0,0,.2);
$color-modal-overlay-gradient-box-shadow: rgba(0,0,0,.4);
$color-pagination-active-box-shadow:  rgba(0,0,0,.5);

$table-highlight: $color-highgray;

// Progress Bar
// ----------------------------------------

$progress-bar-color:            $l-blue;

// Modals
// ----------------------------------------

$modal-heading-color:           $color-neutral-darkgray;
$modal-header-gradient:         color.adjust($color-lightgray, $lightness: -7%); //#e6e6e6
$modal-obj-header-gradient:     color.adjust($off-white, $lightness: -3%);       //#f2f2f2

// Nav Colors
// ----------------------------------------
$modal-nav-bg-color:            $color-highgray;
$modal-nav-border-color:        $main-border-color;
$modal-nav-link-color:          $medium-prim-color;
$modal-nav-link-active-color:   $modal-heading-color;
$subpage-navigation-link-color: $color-silver;
$subpage-navigation-link-hover-color: $light-prim-color;

// Alerts
// ----------------------------------------

// Success (Green)
$state-success-text:             #3c763d;
$state-success-bg:               #dff0d8;
$state-success-border:           #d4e9cb;

// Info (Blue)
$state-info-text:                #3d88ad;
$state-info-bg:                  #d9edf7;
$state-info-border:              #c2e0ef;

// Warning (Yellow)
$state-warning-text:             #8a6d3b;
$state-warning-bg:               #fcf8e3;
$state-warning-border:           #f5efcb;

// Danger (Red)
$state-danger-text:              #a94442;
$state-danger-bg:                #f2dede;
$state-danger-border:            #ebd1d1;

// Stats
// ----------------------------------------
$stats-color: $subpage-navigation-link-color;
$stats-hover-color: $subpage-navigation-link-hover-color;

/**
 *
 * -------------- DIMENSIONS---------------
 *
 */

// Logo
// ----------------------------------------

$logo-width:                  100px;
$logo-height:                 20px;

// Form
// ----------------------------------------

$input-height:                 40px;
$btn-height:                   39px;


// Inputs
// ----------------------------------------
$small-input-width:             130px;

// Border
// ----------------------------------------

$main-border-radius:           4px;
$thin-border:                  1px;
$thin-border-stroke:           $thin-border solid;
$mid-border-stroke:            2px solid;


// Modals
// ----------------------------------------

$modal-width:                   800px;
$modal-col-width:               358px;
$modal-full-col-width:          100%;

// Layout
// ----------------------------------------

// Bourbon Neat Settings
$border-box-sizing: false;

// Helpers
$side-margin:                   20px;
$z-0:                             0;
$z-10:                          100;
$z-20:                          200;
$z-30:                          300;
$z-40:                          400;
$z-50:                          500;
$z-60:                          600;
$z-70:                          700;
$z-80:                          800;
$z-90:                          900;
$z-100:                         1000;
$max-z:                         1400;  // Prevent tooltip overlap as tooltip has index of 1500

// Global Values
$modal-container-padding:       20px;
$app-min-width:                 1100px;


// Fonts
// ----------------------------------------

$font-path:                     "/src/fonts/";
$open-sans:                     "Open Sans", Helvetica, sans-serif;

$font-stack:                    $open-sans;
$weight-light:                  300;
$weight-regular:                400;
$weight-semibold:               600;
$weight-bold:                   700;
$weight-extrabold:              800;


// Paths
// ----------------------------------------

$img-path:                      "/src/img/";



// Alerts
// ----------------------------------------

// Transition
$alert-transition: color 300ms ease-in;
